[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/mathan2309
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mathan2309
	label-Verified = -1..+1 group user/mathan2309
	push = group user/mathan2309
	read = group user/mathan2309
	rebase = group user/mathan2309
	removeReviewer = group user/mathan2309
	submit = group user/mathan2309
[access "refs/heads/*"]
	create = group user/mathan2309
	push = +force group user/mathan2309
	pushMerge = group user/mathan2309
	read = group user/mathan2309
[access "refs/tags/*"]
	push = group user/mathan2309
	push = +force group user/mathan2309
